/*메인 배너 바*/
#myCarousel {            
    width: 1026px;
    /* border: 1px solid black; */
    border-radius: 5px;
    margin-top: 78px;
    height: 340px;
    left: 295px;
    overflow: hidden;
}
#myCarousel img {
    position: ;
    top: -80px;
    border-radius: 5px;
}
body {
    display: inline;
}
html {
    display: inline;
}
.carousel-indicators .active {
    background-color: rgb(79, 185, 159);
}
.carousel-indicators li {
    border: 2px solid rgb(242, 177, 52);
}
.carousel-control.left {
    background-repeat: repeat-x;
}
.carousel-inner >.active {
    width: 1026px;
}
.carousel-caption {
    font-weight: bold;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0,0 , 0.2);
    text-shadow: 1px 2px 3px rgba(17, 47, 65, 0.4);
    bottom: 50px;
}
code {
    background-color: rgba(0, 0, 0, 0);
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}