
.ratingpark {
    text-align: center;
    margin-top: -32px;
    position: relative;
    width: 400px;
    height: 42px;
    /* float: left; */
    /* top: 0px; */
    margin-left: 33px;
}

.choice1 {
  position: relative;
  top: 40px;
}

.hidden {
  opacity: 0;
}

.star {
  display: inline-block;
  margin: 5px;
  font-size: 30px;
  color: rgba(179, 176, 176, 0.829);
  position: relative;
}
.star.animate {
  -webkit-animation: stretch-bounce .5s ease-in-out;
}
.star.hidden {
  opacity: 0;
}

.full:before {
  font-family: fontAwesome;
  display: inline-block;
  content: "\f005";
  position: relative;
  float: right;
  z-index: 2;
}

.half:before {
  font-family: fontAwesome;
  content: "\f089";
  position: absolute;
  float: left;
  z-index: 3;
}

.star-colour {
  color: #ffd700;
}

@-webkit-keyframes stretch-bounce {
  0% {
    -webkit-transform: scale(1);
  }
  25% {
    -webkit-transform: scale(1.5);
  }
  50% {
    -webkit-transform: scale(0.9);
  }
  75% {
    -webkit-transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
  }
}
.selected:before {
  font-family: fontAwesome;
  display: inline-block;
  content: "\f005";
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: scale(1);
  opacity: 1;
  z-index: 1;
}
.selected.pulse:before {
  -webkit-transform: scale(3);
  opacity: 0;
}
.selected.is-animated:before {
  transition: 1s ease-out;
}

/* .score {
  font-family: arial;
  font-size: 15px;
  color: rgb(237, 85, 59);
  margin-top: 20px;
  margin-left: 20px;
} */

.score-rating {
  vertical-align: sup;
  /* top: -5px; */
  position: relative;
  font-size: 150%;
}

.total {
  /* vertical-align: sub; */
  top: 0px;
  position: relative;
  font-size: 150%;
}

.average {
  /* border: 1px solid black; */
  font-family: arial;
  font-size: 20px;
  color: rgb(237, 85, 59);
  position: absolute;
  top: -155px;
  left: 195px;
  transform: translate(-50%, -50%);
  text-align: center;
}
.average .score-average {
  font-weight: bold;
  padding-top: 5px;
}


.starcontainer {
  /* border: 1px solid black; */
  position: absolute;
  width: 400px;
  top : 300px;
  left: 315px;
}