.communityworld {
    position: relative;
    left: 19.5%;	
}  
.list li {
  margin-bottom: 2%;
  display: table;
  border-collapse: collapse;
  width: 100%;
  margin-left: -2%;
}
.list li:hover {
  box-shadow: 
	5px 2px 40px rgba(0,0,0,0.1), 
	0px 10px 25px rgba(0,0,0,0.2), 
	0px 5px 10px 1px rgba(0,0,0,0.4);
  background-color: rgb(79,185,159);
}

.inner {
  /* display: table-row; */
  overflow: hidden;
  color: black;
}
.li-img {
  display: table-cell;
  vertical-align: middle;
  height:90px;
}
.li-img img {
  display: block;
  width: 70px;
  height: 70px;
  text-align: center;
  margin-left: 10px;
}
.li-text:hover, .li-text2:hover, .li-text:hover {
	color: white;
}
.li-text {
  display: table-cell;
  padding-left: 1em;
  padding-right: 1em;
  vertical-align: middle;
  width:40%;
}
.li-text2 {
    display: table-cell;
    padding-left: 7em;
    padding-right: 1em;
    vertical-align: middle;
    width: 25%;
    text-align: left;
    font-weight: bold;
}
.li-text3 {
    display: table-cell;
    padding-left: 7em;
    padding-right: 1em;
    vertical-align: middle;
    width: 25%;
    text-align: left;
    font-weight: bold;
}
.li-head {
  margin: 0;
}

a{
    text-decoration: none;
}

@media screen and (min-width: 10em
) {
  .list li {
    background: none;
  }
  .li-summary {
    display: block;
  }
}
.li-text > p{
    display: inline;
}
.dd , #tete{
    pointer-events: none;
}
#viewicon{
    width:10px;
    height: 10px;
    opacity: 0.5;
}
.pattern {
    width: 64%;
    left: 18.5%;
    position: relative;	
}
