/* 검색 */
*{
	font-family: 'Noto Sans SC', sans-serif;	
}
.main-title {
    position: absolute;
    font-size: 30px;
    font-weight: bold;
    color: rgb(79, 185, 159);
    letter-spacing: 15px;
    text-align: center;
    /* border: 1px solid black; */
    top: 720px;
    left: 650px;
}
.all-container {
    position: absolute;
    /* border: 1px solid tomato; */
    left: 295px;
    top: 430px;

}
.category-container {
    position: relative;
    left: 40px;
    /* border: 1px solid black; */
}
.category-container > div {
    margin: 0px 20px 20px 0px;
}
.all-container > form > .category-container {
    display: flex;
}
.all-container > form > .category-container > div > ul {
    margin-left: 20px;
    height: 100px;
    overflow: scroll;
}
.category-title {
    height: 30px;
    text-align: center;
    font-weight: bold;
    border-bottom: 1px solid rgb(192, 192, 192);
}
.category-content {
    /* border-rightcody: 1px solid rgb(192, 192, 192); */
    font-size: 13px;
}
.category-content > li {
    position: relative;
    list-style: none;
    padding: 0px;
    left: -40px;
    /* padding: 0px; */
}
.btn-container {
    position: relative;
    /* border: 1px solid black; */
    top: 20px;
}
.btn-container > input {
    position: relative;
    left: 300px;
    width: 200px;
    height: 35px;
    background-color: rgb(79, 185, 159);
    border: 0px solid;
    border-radius: 2px;
    color: white;
    font-weight: bold;
}
.btn-container > input:hover {
    background-color: rgb(6, 133, 135);
}
::-webkit-scrollbar {
    display: none;
}
.list-container {
    position: relative;
    /* border: 1px solid black; */
    top: 130px;
    overflow: scroll;
    height: 350px;
    /* border: 1px solid black; */
}
table {
    width: 1026px;
    text-align: center;
}
th {
    border-bottom: 1px solid rgb(158, 158, 158);
    height: 50px;
    text-align: center;
}
tr {
    height: 30px;
}
td {
    font-size: 13px;
    color: rgb(116, 116, 116);
}
td > img {
    width: 20px;
    height: 20px;
}
tr:hover {
    background-color: rgba(242, 176, 52, 0.199);
}
table,th,td {
    position: relative;
    border-collapse: collapse;
}
.pagination {
    position: relative;
    top: 130px;
    left: 392px;
    /* border: 1px solid black; */
    color : skyblue;
}
.pagination > span {
    position: relative;
    /* border: 1px solid black; */ 
    left: 310px;
}
.pagination > span > span {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 10px;
}        
.pagination > .active > a {
    z-index: 2;
    color: white;
    cursor: default;
    background-color: rgb(79, 185, 159);
    border-color: rgb(79, 185, 159);
}
.category-label {
  font-weight: 100;
  display: inline;
}
ul {
  margin-top: 15px;
}
